<tr> <td class="micropost">


	
      <%= link_to bookmark.title,bookmark.url %> <br />
<%= bookmark.description %>

<br />
<% if (current_user.id==bookmark.user.id) %> 
<span id="bookmark_delete_link" ><%= link_to "delete",bookmark_url(bookmark.id),:id => bookmark.id,:method=>:delete,:confirm => "You sure?" %> </span> <br />
 

<span id="bookmarkposted" > Posted <%= time_ago_in_words(bookmark.created_at) %> ago. </span>
<hr />

<% end%>
</td> 
</tr>