
<%= content_for :extra_css do %>
<%= stylesheet_link_tag "profileshow" %>
<% end %>
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
<link  href="http://fonts.googleapis.com/css?family=Rock+Salt:regular" rel="stylesheet" type="text/css" />


<h1>Bookmark not saved!(there were some errors)</h1>
<input type="button" value="Go Back" onClick="history.go(-1);return true;" >
<input type="button" value="Close Window" onclick="window.close()">