#composereplybody
{
	background-color:#FFF;
	width:750px;
	position:relative;
	margin-top:-200px;
	margin-left:200px;
	padding-left:15px;
	padding-top:10px;
	border-radius:3px;
	border-style:solid;
	border-color:#6b238e;
	border-width:1px;
}
#message_body
{
	border-radius:3px;
	height:200px;
	width:600px;
	position:relative;
	margin-top:10px;
}
#message_subject
{
	border-radius:3px;
	height:20px;
	width:400px;
	position:relative;
	margin-top:10px;

}
h2
{
	font-family: 'Josefin Sans', arial, serif;
}
#submit_button
{
	background:#6b238e;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #6b238e;
-webkit-box-shadow: 0 1px 3px #6b238e;
text-shadow: 0 -1px 1px #936;
border-bottom: 1px solid #936;
position: relative;
cursor: pointer;;
font-size: 13px;
width:100px;
}
#submit_button:hover
{color:#FF0;
transition:color 500ms ease-in;
position: relative; top: 2px;

}