html, body {
	margin:0;
	padding:0;
	background-color:#e7e6f8;
}


#calendar {
	width: 900px;
	margin: 0 auto;
	}
  #alertmsg
{
  font-family:Arial,Helvetica,sans-serif;
font-size:135%;
font-weight:bold;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333F31;
  height: 20;
  color: #F3FDED;
  font: 20px/40px arial, sans-serif;
  opacity: .9;
    display:none;
}
#header {
	height:60px;
	background-color:#6b238e;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 24px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}




ul#user_menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 black;
  width: auto;
  cursor: pointer;
  z-index: 10;
  padding: 5px 0;
    padding-left: 30px;
    padding-right: 5px;
  margin: 0;
    margin-top: 5px;
    margin-right: 25px;
    background-color: #6b238e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: inline;
  top: 5px;
  right: 0; }
   ul#user_menu a {
    padding-right: 15px;
    color: #cccccc; }
     ul#user_menu a:hover {
      text-decoration: none; }
   ul#user_menu .right {
    right: 5px; }
   ul#user_menu:hover {
    background-color: #6b248e; }
   ul#user_menu li {
    display: none; }
     ul#user_menu li a {
      display: block;
      padding: 4px;
      height: 100%; }
    ul#user_menu li:hover {
      background-color: #3f8fba;
      color: white; }
   ul#user_menu.active {

    margin-top: 5px;
    margin-right: 25px;
    background-color: #6b238e;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    -moz-box-shadow: 0 1px 2px #333333; }
   ul#user_menu.active li {
      display: block; }
   ul#user_menu .avatar {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    display: block; }

	.hidden {
	  display: none; }
	.right {
		position:absolute;
		right:0px;
      top: 5px;
 }
#link_devolve {
	text-decoration:none;
	color:#fff;
}
#link_devolve:hover {
	text-decoration:none;
	color:#ff0;
}










ul#user_menu_request {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 black;
  width: auto;
  cursor: pointer;
  z-index: 10;
  padding: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
  margin: 0;
    margin-top: 5px;
    margin-right: 175px;
    background-color: #D2691E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: inline;
  top: 5px;
  right: 0; }
   ul#user_menu_request a {
   
    color: #cccccc; }
     ul#user_menu_request a:hover {
      text-decoration: none; }
   ul#user_menu_request .right {
    right: 5px; }
   ul#user_menu_request:hover {
    background-color: #d20000; }
   ul#user_menu_request li {
    display: none; }
     ul#user_menu_request li a {
      display: block;
      height: 100%; }
    ul#user_menu_request li:hover {
      background-color: #D2691E;
      color: white; }
   ul#user_menu_request.active {

   
    margin-top: 5px;
    margin-right: 175px;
    background-color: #D2691E;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    -moz-box-shadow: 0 1px 2px #333333; }
   ul#user_menu_request.active li {
      display: block; }
   ul#user_menu_request .avatar {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    display: block; }

#searchform {
	position:absolute;
	top:-2px;
	right:400px;
}




	fieldset.search {
		border: none;
		width: 243px;
		margin: 0 auto;
		background: #6b238e;
	}
	.search input, .search button {
		border: none;
		float: left;
	}
	.search input.box {
		color: #6b238e;
		font-size: 1.2em;
		width: 190px;
		height: 30px;
		padding: 8px 5px 0;
		background: #6b238e url(search_bg.gif) no-repeat;
		margin-right: 5px;
	}
	.search input.box:focus {
		background: #6b238e url(search_bg.gif) no-repeat left -38px;
		outline: none;
	}
	.search button.btn {
		width: 38px;
		height: 38px;
		cursor: pointer;
		text-indent: -9999px;
		background: #6b238e url(search_bg.gif) no-repeat top right;
	}
	.search button.btn:hover {
		background: #6b238e url(search_bg.gif) no-repeat bottom right;
	}