html, body {
	margin:0;
	padding:0;
	background-color:#6b238e;
}
#header {
	height:140px;
	background-color:#6b238e;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 36px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	   text-transform: uppercase;
	margin-left:80px;
}

#a1
{
	top: 15px;
	position:relative;
	margin-top:-10px;
	margin-left:30px;
	left:300 px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: -1px;	
	color:#000;

}
#signup
{
	 margin: 0 auto;
	 position:relative;
	margin-top:-50px;
	background-color:#e6e6fa;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 630px;
	width:920px;
	
}
#user_submit
{
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	colr: #fff;
	background-color: #6b238e;;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 0px none;
	font-family: 'Quattrocento', arial, serif; 
	font-size:18px;
	position:relative;
	margin-top:5px;
	margin-left:50px;
	width:160px;
}
#user_submit:hover
{
	background-color:#f90;
}
#label_email
{
	position:relative;
	margin-left:50px;
	top:-10px;
}
#user_email
{
	position:relative;
	margin-top:0px;
	margin-left:50px;
}
#label_password
{
	position:relative;
	margin-left:50px;
	margin-top:30px;
}
#user_password
{
	position:relative;
	margin-left:0px;
	margin-top:10px;
}
#label_confirm_password
{
	position:relative;
	margin-top:30px;
	margin-left:50px;
}
#user_password_confirmation
{
	position:relative;
	margin-left:0px;
	margin-top:10px;
}
#label_current_password
{
	position:relative;
	margin-top:30px;
	margin-left:50px;
}
#user_current_password
{
	position:relative;
	margin-left:0px;
	margin-top:10px;
}
#label_cancel
{
	position:relative;
	margin-top:30px;
	margin-left:50px;
}
#label_unhappy
{
	position:relative;
	margin-top:10px;
	margin-left:50px;
}
#label_back
{
	position:relative;
	margin-top:30px;
	margin-left:50px;
}
	
