#div_list
{
	background-color:#FFF;
	margin-top:20px;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	padding-top:5px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:5px;
	border-radius:3px;
	
}
tbody tr:nth-child(odd) {
   background-color:#a9cdeb;
}

footer {
	position:absolute;
	bottom:0;
	margin-top:-1px;
	height:30px;
	width:100%;
	background-color:#6b238e;
}
#header {
	height:60px;
	background-color:#6b238e;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 24px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}