html, body {
	margin:0;
	padding:0;
	background-color:#6b238e;
}
#header {
	height:140px;
	background-color:#6b238e;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 36px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	   text-transform: uppercase;
	margin-left:80px;
}

#a1
{
	top: 15px;
	position:relative;
	margin-top:-10px;
	margin-left:30px;
	left:300 px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: -1px;	
	color:#000;

}



#finish_signup
{
	position:relative;
	margin-top: -30px;
	margin-left:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	color:#C63;
}

#signup
{
	 margin: 0 auto;
	 position:relative;
	margin-top:-40px;
	background-color:#e6e6fa;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 700px;
	width:920px;
	
}
#signup1
{
	 margin: 0 auto;
	 position:relative;
	margin-top:20px;
	background-color:#e6e6fa;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 700px;
	width:920px;
	
}


#profile_name {
	position:relative;
	margin-left:15px;
}
#profile_submit
{
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	colr: #fff;
	background-color: #6b238e;;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 0px none;
	font-family: 'Quattrocento', arial, serif; 
	font-size:18px;
	position:relative;
	margin-top:35px;
	margin-left:160px;
	width:160px;
}
#profile_submit:hover
{
	background-color:#f90;
}

.txtInput
{
	
	color:#6b238e;
	font-family:"Courier New", Courier, monospace;
}




.wrapper {
   width: 960px; /* fixed width */
   margin: 0 auto; /* center */
}
#form_error
{
	position:relative;
	margin-left:100px;
	margin-top:50px;
}
.field_with_errors {
	color:#f00;
}



.inputRow
{
	clear: both;
	margin: 5px 0;
}
.inputRow .inputName
{
	color:#444;
	font-size:16px;
	font-weight:normal;
	line-height:42px;
	padding-right:10px;
	text-align:right;
	width:140px;
	height:20px;
	float:left;
}
.inputRow .inputValue 
{
	
	float:left;
	width:200px;
}
.inputRow .inputValue input, .inputRow .inputValue textarea 
{
	width:99%;
}


input.selected, textarea.selected
{
	border:1px solid #777;
}

#profile_bio {
	min-height:180px;
	
	min-width:480px;
}

#name_lab {
	
	position:relative;
	margin-left:100px;
	
}
#profile_birthdate_1i
{

	margin-top:2px;
	margin-left:15px;
}
#birthdate_lab {
	
	position:relative;
	margin-left:80px;
	
}
#location_lab {
	position:relative;
	margin-left:80px;
}
#profile_location {
	position:relative;
	margin-left:20px;
}
#bio_lab {
	position:relative;
	margin-left:100px;
	margin-top:-40px;
}
#profile_bio {
	position:relative;
	margin-left:160px;
	margin-top:-20px;
}
#occupation_lab {

	position:relative;
	margin-left:60px;
}
#profile_occupation {
	position:relative;
	margin-left:25px;
}
#gender_lab {

	position:relative;
	margin-left:80px;
}
#profile_gender_female {
	
	position:relative;
	margin-left:30px;

}
#profile_gender_male {

	position:relative;
	margin-left:30px;
	
}
#male_lab {
	
	margin-left:10px;

}
#female_lab {
	
	margin-left:10px;
}
#image_lab{

	position:relative;
	margin-left:80px;
}
#profile_image{

	position:relative;
	margin-left:40px;
}

