#inboxmsgshow
{
	background-color:#FFF;
	width:750px;
	position:relative;
	margin-top:-200px;
	margin-left:200px;
	padding-left:15px;
	padding-top:10px;
	border-radius:3px;
	border-style:solid;
	border-color:#6b238e;
	border-width:1px;
}
#messagecontentbody
{
	width:700px;
	background-color:#FF9;
	padding: 10px;
}
h2
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}