#inboxdiv
{
	background-color:#FFF;
	width:750px;
	position:relative;
	margin-top:-200px;
	margin-left:200px;
	padding-left:15px;
	padding-top:10px;
	border-radius:3px;
	border-style:solid;
	border-color:#6b238e;
	border-width:1px;
}
#friendscontainer
{
	background-color:#FFF;
	border-width:1px;
	border-color:#6b238e;
	border-style:solid;
	width:150px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	position:relative;
	margin-top:20px;
	margin-left:30px;
	padding-left:10px;
}
#sent_link
{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
}
#inbox_link
{
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
}
#trash_link
{
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
}
#compose_link
{
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
}
.menuhr
{
	background-color:#6b238e;
	width:90%;
	backgroud-color:#C60;
}
#mailboxheading
{
	font-family: 'Josefin Sans', arial, serif;
}
tbody tr:nth-of-type(odd){
  background:rgba(255,255,136,0.5); /* Pale yellow with 50% opacity */
}