#commentform
{
	background-color:#FFF;
	width:750px;
	position:relative;
	margin-top:00px;
	margin-left:200px;
	padding-left:15px;
	padding-top:10px;
	border-radius:3px;
	border-style:solid;
	border-color:#6b238e;
	border-width:1px;
}
#commentheading
{
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
#title_lab
{
	
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	
}
#body_lab
{
	
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}
#post_title
{
	border-radius:3px;
	position:relative;
	margin-top:10px;
	width:300px;
	height:20px;
}
#post_body
{
	boder-radius:3px;
	width:600px;
	height:200px;
	position:relative;
	margin-top:10px;
}
#post_submit
{
		background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.25, #DF762C), color-stop(0.63, #FF9A47));
border-bottom-left-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
border-top-right-radius: 5px 5px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 10px 0px;
padding: 5px;
text-align: center;
text-decoration: none;
text-shadow: #DE6916 1px 1px 0px;
width: 75px;
border-color:#DF762C;

}
#post_submit:hover {
	text-shadow:none;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, #DF762C),
    color-stop(0.63, #DF762C)
	);
	/* styling for firefox */
	background-image: -moz-linear-gradient(
    center bottom,
    #DF762C 25%,
    #DF762C 63%
	);
}
#cancel_button
{
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.25, #4DCFFA), color-stop(0.63, #73DBFD));
border-bottom-left-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
border-top-right-radius: 5px 5px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 10px 0px;
padding:5px;
text-align: center;
text-decoration: none;
text-shadow: #39ADD3 1px 1px 0px;
width: 75px;
border-color:#4DCFFA;
}
#cancel_button:hover {
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.25, #73DBFD), color-stop(0.63, #4DCFFA));
text-shadow: none;
	
}