#header {
	height:60px;
	background-color:#6b238e;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 24px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}
#profilebody
{
	position:relative;
	margin-top:20px;
	margin-left:300px;
	
}
#profilename 
{
	font-family: 'Copse', arial, serif;
	text-transform:capitalize;
	font-size:36px;

}
.scholarlogo
{
	height:20px;
	width:15px;
}
#profilehr
{
	position:absolute;
	left:100 px;
	width:600px;
	height:3px;
	color:#93C;
}
#profimg
{
	position:absolute;
	margin-top:-220px;
	margin-left:-230px;
}
#prof_img {
	width:200px;
}

#bio_id {
		width:600px;
}
#home_img {
	position:relative;
	margin-left:45px;
	height:200px;
	margin-top:10px;
}

#profilecontainer
{
	width:300px;
	background-color:#6b238e;
	position:relative;
	margin-left:20px;
	margin-top:-4px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;

}
#user_profile_name
{
	height:30px;
	text-transform:capitalize;
	font-weight:bolder;
	font-size:20px;
	position:relative;
	margin-left:100px;
	margin-top:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fff;
	
}

#micropostcontainer
{
	/*height:700px */
	width:550px;
	position:relative;
	margin-top:-285px;
	margin-left:330px;
	background-color:#f5f5f5;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	border-color:#6b238e;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;

}
#innercontainer
{
	/*background-color:#903;*/
	position:relative;
	margin-left:20px;
	top:10px;
	width:550px;
}
#micropostwhat
{
	font-family: 'Tangerine', arial, serif;
}
#micropost_content
{
	position:relative;
	margin-top:-10px;
	height:40px;
	width:500px;
}
#micropost_submit
{
	border-radius:25px;
	background-color:#90c984; 
	height:30px;
	width:80px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style:solid;
	border-color:#6b238e;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#edfcd1;
	position:relative;
	margin-left:425px;
}
#micropost_submit:hover
{
	background-color:#366;
}
#micropostname
{
	text-transform:capitalize;
	font-family: 'Philosopher', arial, serif;
	font-size:14px;
	position:relative;
	margin-left:50px;
	margin-top:-40px;
}
#micropostupdates
{
	position:relative;
	margin-top:-15px;
	font-size:18px;
	font-family: 'MedievalSharp', arial, serif; 
}
#micropostposted
{
	font-style:italic;
	position:relative;
	margin-left:350px;
	font-weight:lighter;
	color:#363;
}
#sidecontainer
{
	background-color:#e0d09d;
	height:300px;
	width:290px;
	position:absolute;
	top:400px;
	margin-left:895px;
	border-style:solid;
	border-color:#6b238e;
	border-radius:25px;
	padding:10px;
}

#friendscontainer
{
	background-color:#FFF;
	position:absolute;
	top:70px;
	margin-left:895px;
	border-color:#6b238e;
	border-style:solid;
	border-radius:5px;
	height:300px;
	width:310px;
}
#micropostdisplaycontent
{
	position:relative;
	margin-top:40px;
	margin-left:50px;
}

#micropost_delete
{
	text-transform:capitalize;
position:relative;
margin-left:200px;
margin-top:20px;
}

#micropost_paginatefeed
{
	position:relative;
	margin-left:150px;
}
#micropost_bookmarklet
{
	color:#630;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#viewbookmark
{
	color:#C36;
	position:relative;
	
}
#bookmarkletinfo
{
	font-style:italic;
}
hr
{
	position:relative;
	margin-left:6px;
	width:500px;
}
#friendsinnerheading
{
	background-color:#6b238e;
	position:absolute;
	margin-top:0px;
	width:310px;
	height:40px;
}
#friendsheading
{
	position:absolute;
	margin-top:8px;
	margin-left:120px;
	color:#FFF;
	text-shadow: 3px 3px #000;
}
