#header {
	height:60px;
	background-color:#6b238e;
}


#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 24px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}
#profilebody
{
	position:relative;
	margin-top:20px;
	margin-left:300px;
	
}
#profilename 
{
	font-family: 'Copse', arial, serif;
	text-transform:capitalize;
	font-size:36px;

}
.scholarlogo
{
	height:20px;
	width:15px;
}
#profilehr
{
	position:absolute;
	left:100 px;
	width:500px;
	height:3px;
	color:#93C;
}
#profimg
{
	position:absolute;
	margin-top:-220px;
	margin-left:-230px;
}
#prof_img {
	width:200px;
	position:relative;
	margin-top:20px;
}

#bio_id {
		width:600px;
}
#home_img {
	position:relative;
	margin-left:45px;
	height:200px;
	max-width:200px;
	margin-top:-0px;
 border-color:#6b238e;
border: 2px solid white;
}

#profilecontainer
{
	width:200px;
	position:relative;
	margin-left:20px;
	margin-top:-4px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	margin-right:20px;
	

}
#user_profile_name
{
	height:30px;
	text-transform:capitalize;
	font-weight:bolder;
	font-size:20px;
	position:relative;
	margin-left:50px;
	margin-top:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#6b23ee;
	
}

#micropostcontainer
{
	padding-top:15px;
	/*height:700px */
	width:550px;
	position:relative;
	margin-top:-40px;
	margin-left:300px;
	background-color:#f5f5f5;
border: 1px solid white;
	border-color:#6b238e;

}
#innercontainer
{
	/*background-color:#903;*/
	position:relative;
	margin-left:20px;
	top:10px;
	width:550px;
}
#micropostwhat
{
	font-family: 'Tangerine', arial, serif;
}
#micropost_content
{
	position:relative;
	margin-top:-10px;
	height:40px;
	width:500px;
}
#micropost_submit
{
	border-radius:25px;
	background-color:#90c984; 
	height:30px;
	width:80px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style:solid;
	border-color:#6b238e;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#edfcd1;
	position:relative;
	margin-left:425px;
}
#micropost_submit:hover
{
	background-color:#366;
}
#micropostname
{
	text-transform:capitalize;
	font-family: 'Philosopher', arial, serif;
	font-size:14px;
	position:relative;
	margin-left:50px;
	margin-top:-40px;
}
#micropostupdates
{
	position:relative;
	margin-top:-15px;
	font-size:18px;
	font-family: 'MedievalSharp', arial, serif; 
}
#micropostposted
{
	font-style:italic;
	position:relative;
	margin-left:310px;
	font-weight:lighter;
	color:#363;
}
#sidecontainer
{	background-color:#FFF;
	
	width:290px;
	position:absolute;
	top:380px;
	margin-left:895px;
	border-style:solid;
	border: 1px solid #6b238e;
		border-radius:5px;
		padding:10px;
}

#friendscontainer
{
	background-color:#FFF;
	position:absolute;
	top:70px;
	margin-left:895px;
border: 1px solid #6b238e;
	border-radius:5px;
	
}
#micropostdisplaycontent
{
	position:relative;
	margin-top:40px;
	margin-left:50px;
}

#micropost_delete
{
	text-transform:capitalize;
position:relative;
margin-top:20px;
}

#micropost_paginatefeed
{
	position:relative;
	margin-left:150px;
}
#micropost_bookmarklet
{
	color:#630;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#viewbookmark
{
	color:#C36;
	position:relative;
	
}
#bookmarkletinfo
{
	font-style:italic;
}
hr
{
	position:relative;
	margin-left:6px;
	width:500px;
}
#friendsinnerheading
{ background-color:#fff;
	position:absolute;
	margin-top:0px;

}
#friendsheading
{ background-color:#fff;
	position:absolute;
	margin-top:8px;
	margin-left:120px;
	color:#000;
}

.edit_link {
list-style-type:none;
position:relative;
margin-left:-5px;
margin-top:0px;
padding:10px;
}

.edit_link a {
	 text-decoration: none; }
	.edit_link a:hover {
		 text-decoration: underline;
		 }

		.edit_link li {
			 padding:3px;
		
			 }

				.edit_link a {
					position:relative;
					margin-top:-15px;
					padding-left:5px;
					 }
	#code_img {
		position:relative;
		margin-left:3px;
	}
	
	
	
	
	
	
	
	.pagination {
	        font-size: 12px;
	       
	        margin: 0;
	        padding: 3px 0 4px;
	    }
	        .pagination a,
	        .pagination span {
	            padding: 3px 3px 2px;
	        }
	        .pagination .disabled {
	            background:none repeat scroll 0 0 transparent;
	            border:medium none;
	            color:#999999;
	            cursor:default;
	        }
	        .pagination a {
	            color:#3B5998;
	            cursor:pointer;
	            text-decoration:none;
	        }
	        .pagination a:hover {
	            background-color:#3B5998;
	            border-bottom:1px solid #3B5998;
	            border-color:#D8DFEA #D8DFEA #3B5998;
	            color:#FFFFFF;
	            text-decoration:none;
	        }
	        .pagination .current {}
	            .pagination .current {
	                border-bottom:2px solid #3B5998;
	                border-color:#3B5998;
	                color:#3B5998;
	                font-weight:bold;
	                padding-left:2px;
	                padding-right:2px;
	            }
	            .pagination .current a:hover {
	                background-color:#3B5998;
	                color:#FFFFFF;
	            }

	        .pagination .prev_page {

	        }
	        .pagination .next_page {

	        }
	#home_table {
		position:relative;
		margin-top:40px;
		margin-left:30px;
	}
	#home_table td {
		padding:5px;
	}
	#hr_friends {
		width:250px;
		position:relative;
		margin-top:30px;
		margin-left:27px;
	}
	#hr_friends1 {
		width:250px;
		float:bottom;
	top:280px;
 position:absolute;
		margin-left:27px;
	}
	.link_friends {
		position:relative;
		margin-top:20px;
	}
	
	
	#user_email {
		padding-left:5px;
		position:relative;
		margin-left:20px;
	}
	
	
	
	#user_submit
	{
		border-radius:25px;
		
		height:30px;
		width:180px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:14px;
	    padding:0px;
		position:relative;
		margin-left:70px;
	}
	#user_submit:hover
	{
	
			background-color:#ff6;
	
	}
	
	#sidecontainer1
	{	background-color:#FFF;

		width:290px;
		position:absolute;
		top:553px;
		margin-left:895px;
		border-style:solid;
		border: 1px solid #6b238e;
			border-radius:5px;
			padding:10px;
	}
	#prof_hr_img {
		position:relative;
		margin-left:-5px;
		width:200px;
	}
	
	
	#request_friend {
		display:inline;
		position:absolute;
		top:20px;
	margin-left:490px;
		
	}
