#header {
	height:140px;
	background-color:#6b238e;
}

#email_lab {
	position:absolute;
	margin-left:30px;
	margin-top:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#edfcd1;
}
#logoname1 {
	
	position:absolute;
	  font-family: 'Rock Salt', serif;
	  font-size: 48px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:0 0 auto;
}

#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 48px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}
#pass_lab {
	position:absolute;
	margin-left:30px;
	margin-top:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#edfcd1;
}


#img_e {
	height:38px;
	position:relative;
	margin-top:25px;
	margin-left:150px;
	background:url("../images/world_input.gif") no-repeat;
}
	#img_p {
		height:38px;
		position:relative;
		margin-left:150px;
		margin-top:-0px;
		background:url("../images/world_input.gif") no-repeat;
	}
#user_password {
	width:213px;
	position:relative;
	margin-left:5px;
	margin-top:4px;
	color:#6b238e; 
	height: 23px; 

	padding: 3px 5px 3px 5px; 
	border-style: none;
	font-family: courier new; 
	font-size: 18px;
	
	outline: 0px none;
	outline-width: 0px;
	outline-style: none;
	outline-color: initial;
}
#user_email {
	width:213px;
	position:relative;
	margin-left:5px;
	margin-top:4px;
	color:#6b238e; 
	height: 23px; 

	padding: 3px 5px 3px 5px; 
	border-style: none;
	font-family: courier new; 
	font-size: 18px;
	
	outline: 0px none;
	outline-width: 0px;
	outline-style: none;
	outline-color: initial;
}

#user_new {
	position:absolute;
	right:100px;
	
	background-color:#6b238e;
	width:400px;
	margin-top:-20px;
	border-radius        : 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius   : 15px;
	
}
.hidden {
  display: none; }
#user_submit{
	width:150px;
	height:30px;
	background-color:#e7e6f8;
	color:#000;
	border-color:#fff;
	border-radius        : 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius   : 15px;
position:relative;
margin-left:230px;
margin-top:-20px;

font-size:14px;
}
#user_submit:hover{
	width:150px;
	height:30px;
	font-size:16px;
	background-color:#6b238e;
	
}

#user_remember_me {
	margin-left:270px;
	color:#F3C;
}

#lab_rem {
	color:#edfcd1;
}
#cant_acc {
	position:absolute;
	margin-top:-40px;
	margin-left:20px;
	text-decoration:none;
	color:#edfc01;
}

#cant_acc:hover {
	text-decoration:underline;
}


