#header {
	height:140px;
	background-color:#6b238e;
}
#user_email {
	width:213px;
	position:relative;
	margin-left:5px;
	margin-top:4px;
	color:#6b238e; 
	height: 23px; 

	padding: 3px 5px 3px 5px; 
	border-style: none;
	font-family: courier new; 
	font-size: 18px;
	
	outline: 0px none;
	outline-width: 0px;
	outline-style: none;
	outline-color: initial;
}
#img_e {
	height:38px;
	position:relative;
	margin-top:-45px;
	margin-left:150px;
	background:url("../images/world_input.gif") no-repeat;
}
	#img_p {
		height:38px;
		position:relative;
		margin-left:150px;
		margin-top:-20px;
		background:url("../images/world_input.gif") no-repeat;
	}
#user_password {
	width:213px;
	position:relative;
	margin-left:5px;
	margin-top:4px;
	color:#6b238e; 
	height: 23px; 

	padding: 3px 5px 3px 5px; 
	border-style: none;
	font-family: courier new; 
	font-size: 18px;
	
	outline: 0px none;
	outline-width: 0px;
	outline-style: none;
	outline-color: initial;
}
#email_lab {
	position:relative;
	margin-left:30px;
	margin-bottom:30px;
}
#logoname {
	
	position:relative;
	  font-family: 'Rock Salt', serif;
	  font-size: 48px;
	  font-style: italic;
	  font-weight: 700;
	  text-shadow: 4px 4px 4px #000;
	color:#ffffff;
	  text-transform: uppercase;
	margin-left:50px;
}
#user_new {
	position:absolute;
	right:100px;
	
	background-color:#6b238e;
	width:400px;
	
}
.hidden {
  display: none; }
#user_submit{
	width:150px;
}

