.inputRow
{
	clear: both;
	margin: 5px 0;
}
.inputRow .inputName
{
	color:#444;
	font-size:16px;
	font-weight:normal;
	line-height:42px;
	padding-right:10px;
	text-align:right;
	width:140px;
	float:left;
}
.inputRow .inputValue 
{
	float:left;
	width:200px;
}
.inputRow .inputValue input, .inputRow .inputValue textarea 
{
	width:99%;
}
input.txtInput, textarea.txtInput
{
	padding:8px;
	border:1px solid #ddd;
	font-size:18px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input.straightRightCorner, textarea.straightRightCorner
{
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright: 0px;
}
input.selected, textarea.selected
{
	border:1px solid #777;
}
.inputTipContainer
{
	border:1px solid #777;
	background:#ffffee url('../Media/tip.gif') no-repeat 10px 15px;
	color:#333;
	display:none;
	position:absolute;
	padding:8px;
	/* Internet Explorer 7 fix */
	#padding-bottom:7px;
	font-size:12px;
	line-height:22px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright: 5px;	
	width:250px;
	padding-left:30px;
}
.badInputTipContainer 
{
	border:1px solid #900;
	color:#600;
	font-weight:bold;
	background:#fee url('../Media/error.png') no-repeat 10px 15px;
}
.goodInputTipContainer 
{
	color:#060;
	border:1px solid #090;
	background:#efe url('../Media/check.png') no-repeat 10px 15px;
}








input[type='password'], 
.passwordStrengthBar { 
    background: white;
position:relative; 
    margin-left: 90px;
   margin-top:5px;
    width: 218px; 
} 
 
.passwordStrengthBar div { 
    height: 5px; 
    width: 0; 
} 
 
.passwordStrengthBar div.strong { 
    background-color: #32cd32; 
} 
 
.passwordStrengthBar div.medium { 
    background-color: yellow; 
} 
 
.passwordStrengthBar div.weak { 
    background-color: orange; 
} 
 
.passwordStrengthBar div.useless { 
    background-color: red; 
}