
<%= form_for :micropost,:url =>{:controller=>'microposts',:action=> 'create'} do |f| %>

	
<%= render 'shared/error_messages', :object => @micropost %>

 <div class="field">
<%= f.text_area :content,:maxlength=>"140",
:onkeyup=>"CheckFieldLength(micropost_content, 'charcount', 'remaining', 140);",:onkeydown=>"CheckFieldLength(micropost_content, 'charcount', 'remaining', 140);", :onmouseout=>"CheckFieldLength(micropost_content, 'charcount', 'remaining', 140);"%>
<small style="display: block; color: green; "><span id="charcount" style=" color: green; ">0</span> characters entered.   |   <span style=" color: green; " id="remaining" >140</span> characters remaining.</small>


</div>
<div class="actions"> <%= f.submit "Submit" %>
</div> 




<% end %>
