<table> <tr>
<th colspan="3" align="left">
	<%= pluralize(@user_current.friends.count, "friend") %> </th>
	</tr> <% @user_current.friends.each do |friend| %> <tr>
	<td width="50"> 
			<%= image_tag friend.profile.image_url(:small).to_s,:width => "20" %>
	</td> <td><%= link_to friend.profile.name, profile_path(friend.id) %></td> <td>
		<% if @user_current.id == @logged_in_user.id %>
<%= link_to "Delete",
		{ :controller => "friendship",:action => "delete",:id => friend.id },
		:confirm => "Really delete friendship with #{friend.profile.name}?" %>
		<%end%>
	 </td>
		</tr> <% end %>