
<div id="friendscontainer" style="float:left; margin:1em; padding:1em;">
  <p><%= link_to "Compose", new_sent_path %></p>
  
  <p><strong>Mailboxes</strong></p>
  <ul>
    <li><%= link_to "Inbox", mailbox_inbox_path %></li>
    <li><%= link_to "Sent", :controller => "sent", :action => "index" %></li>
    <li><%= link_to "Trash", mailbox_trash_path+'/'+current_user.id.to_s %></li>
  </ul>
</div>
