<div id="friendscontainer">
	<p><strong>Mailbox</strong></p>
  <%= link_to "Compose", new_sent_path, :id =>"compose_link"%><hr class="menuhr"/>
    <%= link_to "Inbox", mailbox_inbox_path, :id=>"inbox_link"%> <hr class="menuhr"/>
    <%= link_to "Sent", sent_index_path, :id=> "sent_link"%>  <hr class="menuhr"/>
    <%= link_to "Trash", mailbox_trash_path+'/'+current_user.id.to_s, :id=>"trash_link"%> <br /> <br />

</div>
